:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.mr--16 {
  margin-right: 16px !important;
}
.mr--8 {
  margin-right: 8px;
}
.ml--8 {
  margin-left: 8px;
}
.ml--16 {
  margin-left: 16px !important;
}
/* made in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation growth */
@keyframes growth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.modal__overplay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
