:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.mr--16 {
  margin-right: 16px !important;
}
.mr--8 {
  margin-right: 8px;
}
.ml--8 {
  margin-left: 8px;
}
.ml--16 {
  margin-left: 16px !important;
}
/* made in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
