/* header */

.header {
  width: 100%;
  height: var(--header-width);
  background-image: linear-gradient(0, #fe6332, #f53f2d);
}
/* start navigation */
.nav {
  font-size: 1.3rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
}
.nav-list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}
.nav-item:hover,
.icon-nav:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.cursor-text:hover {
  color: var(--white-color);
  cursor: text;
}
.nav-item {
  display: inline-block;
  position: relative;
  padding-top: 8px;
}
.separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  border-left: 2px solid #fb9086;
  top: 68%;
  right: -12px;
  transform: translateY(-50%);
  z-index: 1;
}
.icon-nav {
  font-size: 1.5rem;
  margin: 0 4px;
}
/* QR code */
.nav-list > li:nth-child(3) {
  position: relative;
}
.QR-code {
  background-color: var(--white-color);
  position: absolute;
  width: 233%;
  height: 233px;
  border: 2px solid transparent;
  border-radius: 2px;
  top: 150%;
  display: none;
  animation: fade-in linear 0.5s;
  z-index: 1;
}
.QR-code::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -16px;
  height: 10%;
  z-index: 1;
}
.nav-list > li:nth-child(3):hover .QR-code {
  color: var(--white-color);
  cursor: default;
  display: block;
}
.QR-code--down {
  display: flex;
  justify-content: space-between;
}
.header-qr {
  width: 100%;
}
.QR-code--item {
  height: 16px;
}
.QR-code--down--1 {
  margin-left: 11px;
}
.QR-code--down--2 {
  margin-right: 11px;
}
.nav__user {
  display: flex;
  align-items: center;
}
.nav__user:hover .option-user {
  display: block;
}
.img-user {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0px 6px 0 22px;
}
.name-user {
}
.option-user {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  background-color: var(--white-color);
  width: calc(100% + 42px);
  border-radius: 2px;
  z-index: 1;
  border: 1.5px solid #adb5bd;
  transform-origin: calc(100% - 20px) top;
  animation: growth-full ease 0.3s;
  display: none;
}
.option-user::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -44%;
  right: 6%;
  z-index: -1;
}
.option-user--item:hover {
  color: #26a69a;
  background-color: #edeef1;
}
.option-user--item {
  display: block;
  line-height: 38px;
  color: var(--text-color);
  font-size: 1.4rem;
  padding-left: 10px;
  width: 100%;
  height: 38px;
  text-decoration: none;
}
/* end navigation */
/* notification */
.notification {
  position: relative;
}
.notification:hover .notification--header {
  display: block;
}
.notification--header:hover {
  color: var(--white-color);
}
.notification--header::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -15%;
  right: 0px;
  z-index: 1;
}
.notification--header::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: -10px;
  position: absolute;
  z-index: 1;
}
.notification--header {
  position: absolute;
  width: 370px;
  height: 350px;
  right: 0;
  top: 140%;
  background-color: var(--white-color);
  border: 1px solid #adb5bd;
  border-radius: 2px;
  transform-origin: calc(100% - 20px) top;
  animation: growth-full ease 0.25s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}
.notification--img {
  display: block;
  width: 25%;
  margin: 80px auto 20px auto;
}
.notification--info {
  text-align: center;
  color: var(--text-color);
  cursor: text;
  font-size: 1.4rem;
}

.notification--end {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  background-color: #e9ecef;
}
.log-in:hover,
.resgi:hover {
  background-color: #ced4da;
  cursor: pointer;
  color: #fe6332;
}
.log-in {
  display: inline-block;
  width: 49%;
  padding: 12px;
  color: var(--text-color);
}
.resgi {
  display: inline-block;
  width: 50%;
  padding: 12px;
  color: var(--text-color);
}
/* language  */

.language {
  position: relative;
}
.language--header::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -74%;
  right: 19px;
  z-index: 1;
}
.language--header::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: -12px;
  position: absolute;
  z-index: 1;
}
.language--header {
  position: absolute;
  width: 200px;
  right: -20px;
  bottom: -80px;
  font-size: 1.5rem;
  background-color: var(--white-color);
  display: none;
  border: 1px solid #adb5bd;
  animation: fade-in linear 0.25s;
  z-index: 1;
}
.language:hover .language--header {
  display: block;
}
.tiengviet,
.english {
  padding: 9px;
  color: var(--text-color);
}
.tiengviet {
  color: var(--primary-color);
}
/* end navigation */
/* start login and regis */
/* regis font */
.auth-container {
  border-radius: 2.5px;
  background-color: var(--white-color);
  overflow: hidden;
}
.auth-form {
  padding: 28px;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  margin: 0px 6px 40px;
}
.auth-form__heading {
  font-size: 1.8rem;
  color: var(--black-color);
  cursor: default;
}
.auth-form__switch-btn {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
.auth-form__content {
}
.auth-form__group {
  margin-bottom: 10px;
}
.auth-form__input {
  width: 100%;
  font-size: 1.3rem;
  padding-left: 8px;
  line-height: 10px;
  line-height: 28px;
}
.auth-form__note {
  margin: 18px 8px;
}
.auth-form__note--content {
  text-align: center;
}
.auth-form__policy {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 440;
}
.auth-form__directional {
  display: flex;
  margin: 70px 6px 8px;
  justify-content: end;
  font-size: 1.3rem;
}
.btn--goback:hover {
  opacity: 0.8;
  background-color: #e9ecef;
}
.btn--goback {
  background-color: var(--white-color);
  cursor: pointer;
}
.auth-form__footer {
  background-color: #dee2e6;
  align-items: center;
  width: 100%;
}
.auth-form__footer--contain {
  display: flex;
  margin: 0 14px;
  justify-content: space-between;
}
.auth-form__social {
  display: inline;
  margin: 16px 3px;
}
.button--icon:hover {
  opacity: 0.7;
}
.button--icon {
  min-width: 205px;
  border-radius: 3px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.button--icon > i {
  margin: 0 18px 0 12px;
}
.btn--link-fb {
  background-color: #0674e7;
  color: var(--white-color);
  padding: 8px 0;
}
.btn--link-google {
  color: var(--text-color);
  background-color: var(--white-color);
  padding: 8px 0;
}

/* login form*/
.auth-form__support {
  font-weight: 420;
  margin: 22px 0 0 px;
}
.auth-form__support--link {
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0 10px;
}
/* end login and regis */

/* start header width search*/
.logo-shoppe {
  cursor: pointer;
}
.header-with-search {
  height: var(--header-width-search-height);
  display: flex;
  align-items: center;
}
.header__search-logo {
  width: 148px;
  margin: 6px 30px 0 0;
}
/* search bar */
.header__search-bar {
  flex: 1;
  display: flex;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 380;
}
.header__search-input {
  flex: 1;
  padding-left: 22px;
  position: relative;
}
.header__input-text {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
  border: none;
}
.header__input-text:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  width: calc(100% - 60px);
  top: calc(100% + 7px);
  background-color: var(--white-color);
  border-radius: 2.5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(65, 65, 65, 0.8);
  display: none;
}
.history--title {
  margin: 12px;
  color: #adb5bd;
  font-weight: 380;
}
.history-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.history-item {
  padding: 10px 12px;
  cursor: pointer;
}
.history-item:hover {
  background-color: #e8e8e8;
}
.link-history {
  text-decoration: none;
  line-height: 12px;
  font-size: 1.6rem;
  color: var(--black-color);
}
.header__selection {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 380;
  color: var(--text-color);
  /* border-left: 1.5px solid #e8e8e8; */
  cursor: pointer;
  position: relative;
}
.header__option--container > i {
  margin: 0 10px 0 16px;
}
.header__option--container {
  height: 75%;
  display: flex;
  border-left: 1.5px solid #e8e8e8;
  align-items: center;
  padding-left: 16px;
}
.current-selection--option {
  display: inline-block;
  font-weight: 380;
}
.header__selection:hover .selection--option {
  display: block;
}
.selection--option::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -16px;
  height: 18px;
  z-index: 1;
}
.selection--option {
  position: absolute;
  text-align: left;
  top: 116%;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 0 1px 2px #b8b7b7;
  border-radius: 1.5px;
  display: none;
}
.selection--option .btn {
  padding: 12px 16px 12px 12px;
  color: var(--text-color);
  font-size: 1.5rem;
}
.selection--option > .btn:hover {
  background-color: #f5f3f3;
}

.option--icon-check {
  margin-left: 10px;
  color: red;
}
.header__search-icon {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
.header__search-icon > i {
  font-size: 1.8rem;
  padding: 8px 22px;
  background-color: var(--primary-color);
  margin-right: 3px;
  border-radius: 2px;
  color: var(--white-color);
}

.header__cart {
  margin: 10px 50px 0px 50px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.header__cart > i {
  font-size: 2.7rem;
  color: var(--white-color);
}
.header__cart:hover .header__cart-list {
  display: flex;
}
.header__cart-list {
  position: absolute;
  top: 96%;
  right: -5px;
  width: 400px;
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  transform-origin: calc(100% - 20px) top;
  animation: growth-full ease 0.3s;
  box-shadow: 0px 2px 10px #ccc;
  cursor: default;
  display: none;
  z-index: 1;
}
.header__cart-list::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -47px;
  right: -7px;
  z-index: 1;
}
.header__cart-list::after {
  content: "";
  position: absolute;
  width: 100%;
  top: -12px;
  height: 14px;
  z-index: 1;
}
/*  */
.header__cart-list--no-cart .cart-img,
.header__cart-list--no-cart .noti-cart {
  display: block;
}
.cart-img {
  width: 20%;
  margin-top: 40px;
  margin-bottom: 24px;
  display: none;
}
.noti-cart {
  margin-bottom: 70px;
  font-size: 1.5rem;
  font-weight: 380;
  cursor: text;
  display: none;
}
.header__quantity-product {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -2px;
  right: -12px;
  padding: 1px 10px;
  border-radius: 50px;
  border: 3px solid #ee4d2d;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  max-width: 35px;
}
.header__cart-product-list {
  margin: 0;
  list-style: none;
  max-height: 57vh;
  overflow-y: auto;
  width: 100%;
  padding-left: 0;
}
.header__cart-title {
  margin: 18px 0 10px;
  padding-left: 12px;
  font-size: 1.4rem;
  color: #ccc;
  font-weight: 400;
}
.header__cart-item:hover {
  background-color: #f3f3f3;
}
.header__cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__cart-img {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  border: 3px solid #ccc;
}
.header__cart-item-info {
  font-size: 1.4rem;
  width: 100%;
  margin: 0 8px 0 12px;
}
.header__cart-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.header__cart-item-title {
  margin: 0;
  overflow: hidden;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.header__cart-item-wrap {
}
.header__cart-item-price {
  color: var(--primary-color);
}
.header__cart-item-multiple {
  margin: 0 4px;
}
.header__cart-item-quantity {
  color: #727272;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}
.header__cart-item-type {
  margin: 0;
  line-height: 22px;
  color: rgb(149, 149, 149);
}
.header__cart-item-remove:hover {
  opacity: 0.8;
  color: var(--black-color);
}
.header__cart-item-remove {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  padding: 5px 8px;
}
.header__cart-btn-view {
  margin: 16px 0 16px 256px;
}
/* end header */

/* start content */
/*go-back */
.content__goback {
  margin: 20px 3px;
  font-size: 1.5rem;
  cursor: pointer;
}
.content__goback-link {
  text-decoration: none;
  color: var(--text-color);
}
/*side-bar */
.content__side-bar {
}
.side-bar__wrap--info-shop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar__background-img {
  background-image: url("https://cf.shopee.vn/file/ff628c765f10d09863441ed0117d723d_tn");
  background-image: url("https://beedesign.com.vn/wp-content/uploads/2020/09/thiet-ke-logo-con-rua-game.jpg");
  /* background-image: url(/assets/img/DT-logo.png); */
  width: 100%;
  height: 172px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
}
.side-bar__status-shop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-bar__wrap-logo-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.side-bar__logo-shop {
  border: 5px solid var(--white-color);
  border-radius: 50%;
  width: 96px;
}
.side-bar__type-shop {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--white-color);
  top: calc(100% - 16px);
  font-size: 1.2rem;
  padding: 3px 4px;
}
.side-bar__name-shop {
  margin: 0;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 10px;
}
.side-bar__situation-shop {
  margin: 0;
  margin-top: 10px;
  color: var(--white-color);
  font-size: 1.2rem;
  opacity: 0.7;
}
.side-bar__category {
  padding: 0 20px 20px;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.side-bar__category-shop {
  padding: 20px 0;
  font-size: 1.4rem;
}
.side-bar__category-item {
  padding: 10px 0;
  border-bottom: 1px solid #e6e1e1;
}
.side-bar__category-item--selection {
  color: var(--primary-color);
}
.side-bar__category-item:last-child {
  margin-bottom: 24px;
  border-bottom: none;
}
/*sort bar */
.content__sort-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
  padding: 8px 20px;
  margin-bottom: 10px;
}
.sort-bar--wrap {
  display: flex;
  align-items: center;
}
.content__sort-label {
  font-size: 1.4rem;
  margin-right: 16px;
}
.content__sort-label ~ button {
  margin-right: 10px;
}
.content__sort-price:hover .content__sort-price--list {
  display: block;
}
.content__sort-price {
  position: relative;
  width: 200px;
  height: 34px;
  background-color: #fdfdfd;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 2px;
}
.sort-price--wrap {
  line-height: 34px;
  padding: 0 12px;
}
.sort-price--icon {
  float: right;
  line-height: 39px;
}
.content__sort-price--list::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -16px;
  height: 18px;
  z-index: 1;
}
.content__sort-price--list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top: calc(100% + 2px);
  background-color: #ffffff;
  list-style: none;
  border-radius: 2px;
  display: none;
}
.content__sort-price--item:hover {
  color: var(--primary-color);
}
.content__sort-price--item {
  padding: 20px 16px 0px;
}
.content__sort-price--item:last-child {
  padding-bottom: 20px;
}
.sort-bar__wrap-position {
  cursor: default;
  margin-right: 20px;
  font-size: 1.4rem;
}
.sort-bar__position-page {
  color: var(--primary-color);
}
.sort-bar__control {
  display: flex;
  align-items: center;
  width: 36px;
  height: 34px;
  background-color: #f9f9f9;
  justify-content: center;
  box-shadow: 0 1px 1px #cecece;
  cursor: pointer;
}
.sort-bar__control-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 1px solid #f2f2f2;
}
.sort-bar__control-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.sort-bar__control--disible {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
}

/* product-main */
.product-item {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  margin-bottom: 10px;
}
.product-item:hover {
  box-shadow: 0 1.5px 20px rgba(0, 0, 0, 0.06);
  transform: translateY(-1px);
}
.product-item__img {
  position: absolute;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.product-item__background-img {
  position: relative;
  width: 100%;
}
.product-item__info {
  font-size: 1.3rem;
  font-weight: 380;
  color: var(--text-color);
  line-height: 1.5rem;
  max-height: 3rem;
  margin: 6px 10px 0 10px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
.product-item__deal {
  display: flex;
  margin: 6px 10px 8px;
}
.product-item__deal--content {
  flex-shrink: 0;
  text-align: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0 5px;
}
.product-item__price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.product-item__price-old {
  font-size: 1.4rem;
  color: rgb(146, 146, 146);
  margin-left: 10px;
  align-items: baseline;
  text-decoration: line-through;
}
.product-item__price-new {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.product-item__price-ship {
  color: #00bfa5;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: 10px;
}
.product-item__active {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 6px 10px;
  align-items: center;
}
.product-item__active-liked .product-item__active-empty {
  display: none;
}
.product-item__active-liked .product-item__active-filled {
  display: inline-block;
}
.product-item__active-tym {
  font-size: 1.2rem;
}
.product-item__active-empty {
  color: #757575;
}
.product-item__active-filled {
  color: var(--primary-color);
  display: none;
}
.product-item__active-rating {
  color: var(--gold-color);
  transform: scale(0.8);
  margin-left: auto;
}
.product-item__sell {
  font-size: 1.2rem;
  font-weight: 380;
  color: var(--black-color);
}
.product-item__origin {
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 360;
  color: #595959;
  padding-bottom: 12px;
}
.product-item__type {
  position: absolute;
  top: 9px;
  left: -4px;
  line-height: 18px;
  width: 63px;
  text-align: center;
  font-weight: 500;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  color: var(--primary-color);
  background-color: currentColor;
}
.product-item__type span {
  color: var(--white-color);
}
.product-item__type::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.product-item__sale {
  --sale-color: rgba(243, 204, 45, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--sale-color);
  background-color: currentColor;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.product-item__sale::before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-width: 0 18px 6px 18px;
  border-style: solid;
  border-color: transparent currentColor transparent currentColor;
}
.product-item__sale-num {
  color: #ee4d33;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.product-item__sale-text {
  position: absolute;
  top: 42%;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 450;
  font-size: 11px;
}

/* pagination */
.content__pagination {
  width: 100%;
  margin: 40px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.content__pagination a {
  text-decoration: none;
  color: #939393;
}
.pagination__icon-back {
  margin: 0 25px;
}
.pagination__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  margin: 0 15px;
}
.pagination__number.pagination__number--selection {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 2px;
}
.pagination__contimute {
  margin: 0 28px;
  color: #939393;
  cursor: default;
}

/* footer */
.footer__wrap--service {
  background-color: var(--white-color);
  padding-bottom: 32px;
}
.footer__service--title {
  margin: 45px 0px 24px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.8rem;
  color: var(--text-footer);
}
.footer__service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__service-item {
  padding: 10px 0;
  font-size: 1.4rem;
  color: var(--text-footer);
}
.footer__service-icon {
  font-size: 1.3rem;
  padding: 6px;
  border-radius: 50%;
  background-color: #4b4b4b;
  color: var(--white-color);
  margin-right: 10px;
}
.footer__service--wrap-img {
  display: flex;
}
.footer__service--qrcode {
  width: 38%;
  margin-right: 18px;
}
.footer__service--app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__service--app-item {
  width: 64%;
}
.footer__wrap--endpage {
  padding-bottom: 50px;
}
.footer__policy {
  margin: 40px 0px;
}
.footer__policy--list {
  display: flex;
  padding: 0 175px;
  justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
}
.footer__policy--item {
  font-size: 1.4rem;
  color: var(--text-footer);
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo-turtle {
  width: 20%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.footer__register {
  font-size: 1.6rem;
}
