/* header */

.header {
  width: 100%;
  height: var(--header-width);
  background-image: linear-gradient(0, #fe6332, #f53f2d);
}
/* start navigation */
.nav {
  font-size: 1.3rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
}
.nav-list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}
.nav-item:hover,
.icon-nav:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.cursor-text:hover {
  color: var(--white-color);
  cursor: text;
}
.nav-item {
  display: inline-block;
  position: relative;
  padding-top: 8px;
}
.separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  border-left: 2px solid #fb9086;
  top: 68%;
  right: -12px;
  transform: translateY(-50%);
  z-index: 1;
}
.icon-nav {
  font-size: 1.5rem;
  margin: 0 4px;
}
/* QR code */
.nav-list > li:nth-child(3) {
  position: relative;
}
.QR-code {
  background-color: var(--white-color);
  position: absolute;
  width: 233%;
  height: 233px;
  border: 2px solid transparent;
  border-radius: 2px;
  top: 150%;
  display: none;
  animation: fade-in linear 0.5s;
  z-index: 1;
}
.QR-code::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -16px;
  height: 10%;
  z-index: 1;
}
.nav-list > li:nth-child(3):hover .QR-code {
  color: var(--white-color);
  cursor: default;
  display: block;
}
.QR-code--down {
  display: flex;
  justify-content: space-between;
}
.header-qr {
  width: 100%;
}
.QR-code--item {
  height: 16px;
}
.QR-code--down--1 {
  margin-left: 11px;
}
.QR-code--down--2 {
  margin-right: 11px;
}
.nav__user {
  display: flex;
  align-items: center;
}
.nav__user:hover .option-user {
  display: block;
}
.img-user {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0px 6px 0 22px;
}
.name-user {
}
.option-user {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  background-color: var(--white-color);
  width: calc(100% + 42px);
  border-radius: 2px;
  z-index: 1;
  border: 1.5px solid #adb5bd;
  transform-origin: calc(100% - 20px) top;
  animation: growth-full ease 0.3s;
  display: none;
}
.option-user::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -44%;
  right: 6%;
  z-index: -1;
}
.option-user--item:hover {
  color: #26a69a;
  background-color: #edeef1;
}
.option-user--item {
  display: block;
  line-height: 38px;
  color: var(--text-color);
  font-size: 1.4rem;
  padding-left: 10px;
  width: 100%;
  height: 38px;
  text-decoration: none;
}
/* end navigation */
/* notification */
.notification {
  position: relative;
}
.notification:hover .notification--header {
  display: block;
}
.notification--header:hover {
  color: var(--white-color);
}
.notification--header::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -15%;
  right: 0px;
  z-index: 1;
}
.notification--header::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: -10px;
  position: absolute;
  z-index: 1;
}
.notification--header {
  position: absolute;
  width: 370px;
  height: 350px;
  right: 0;
  top: 140%;
  background-color: var(--white-color);
  border: 1px solid #adb5bd;
  border-radius: 2px;
  transform-origin: calc(100% - 20px) top;
  animation: growth-full ease 0.25s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}
.notification--img {
  display: block;
  width: 25%;
  margin: 80px auto 20px auto;
}
.notification--info {
  text-align: center;
  color: var(--text-color);
  cursor: text;
  font-size: 1.4rem;
}

.notification--end {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  background-color: #e9ecef;
}
.log-in:hover,
.resgi:hover {
  background-color: #ced4da;
  cursor: pointer;
  color: #fe6332;
}
.log-in {
  display: inline-block;
  width: 49%;
  padding: 12px;
  color: var(--text-color);
}
.resgi {
  display: inline-block;
  width: 50%;
  padding: 12px;
  color: var(--text-color);
}
/* language  */

.language {
  position: relative;
}
.language--header::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -74%;
  right: 19px;
  z-index: 1;
}
.language--header::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: -12px;
  position: absolute;
  z-index: 1;
}
.language--header {
  position: absolute;
  width: 200px;
  right: -20px;
  bottom: -78px;
  font-size: 1.5rem;
  background-color: var(--white-color);
  display: none;
  animation: fade-in linear 0.25s;
  z-index: 1;
}
.language:hover .language--header {
  display: block;
}
.tiengviet,
.english {
  padding: 9px;
  color: var(--text-color);
}
.tiengviet {
  color: var(--primary-color);
}
/* end navigation */
/* start login and regis */
/* regis font */
.auth-container {
  border-radius: 2.5px;
  background-color: var(--white-color);
  overflow: hidden;
}
.auth-form {
  padding: 28px;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  margin: 0px 6px 40px;
}
.auth-form__heading {
  font-size: 1.8rem;
  color: var(--black-color);
  cursor: default;
}
.auth-form__switch-btn {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
.auth-form__content {
}
.auth-form__group {
  margin-bottom: 10px;
}
.auth-form__input {
  width: 100%;
  font-size: 1.3rem;
  padding-left: 8px;
  line-height: 10px;
  line-height: 28px;
}
.auth-form__note {
  margin: 18px 8px;
}
.auth-form__note--content {
  text-align: center;
}
.auth-form__policy {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 440;
}
.auth-form__directional {
  display: flex;
  margin: 70px 6px 8px;
  justify-content: end;
  font-size: 1.3rem;
}
.btn--goback:hover {
  opacity: 0.8;
  background-color: #e9ecef;
}
.btn--goback {
  background-color: var(--white-color);
  cursor: pointer;
}
.auth-form__footer {
  background-color: #dee2e6;
  align-items: center;
  width: 100%;
}
.auth-form__footer--contain {
  display: flex;
  margin: 0 14px;
  justify-content: space-between;
}
.auth-form__social {
  display: inline;
  margin: 16px 3px;
}
.button--icon:hover {
  opacity: 0.7;
}
.button--icon {
  min-width: 205px;
  border-radius: 3px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.button--icon > i {
  margin: 0 18px 0 12px;
}
.btn--link-fb {
  background-color: #0674e7;
  color: var(--white-color);
  padding: 8px 0;
}
.btn--link-google {
  color: var(--text-color);
  background-color: var(--white-color);
  padding: 8px 0;
}

/* login form*/
.auth-form__support {
  font-weight: 420;
  margin: 22px 0 0 px;
}
.auth-form__support--link {
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0 10px;
}
/* end login and regis */

/* start header width search*/
.logo-shoppe {
  cursor: pointer;
}
.header-with-search {
  height: var(--header-width-search-height);
  display: flex;
  align-items: center;
}
.header__search-logo {
  width: 148px;
  margin: 6px 30px 0 0;
}
/* search bar */
.header__search-bar {
  flex: 1;
  display: flex;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 380;
}
.header__search-input {
  flex: 1;
  padding-left: 22px;
  position: relative;
}
.header__input-text {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
  border: none;
}
.header__input-text:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  width: calc(100% - 60px);
  top: 110%;
  background-color: var(--white-color);
  border-radius: 2.5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(65, 65, 65, 0.8);
  display: none;
}
.history--title {
  margin: 12px;
  color: #adb5bd;
  font-weight: 380;
}
.history-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.history-item {
  padding: 10px 12px;
  cursor: pointer;
}
.history-item:hover {
  background-color: #e8e8e8;
}
.link-history {
  text-decoration: none;
  line-height: 12px;
  font-size: 1.6rem;
  color: var(--black-color);
}
.header__selection {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 380;
  color: var(--text-color);
  /* border-left: 1.5px solid #e8e8e8; */
  cursor: pointer;
  position: relative;
}
.header__option--container > i {
  margin: 0 10px 0 16px;
}
.header__option--container {
  height: 75%;
  display: flex;
  border-left: 1.5px solid #e8e8e8;
  align-items: center;
  padding-left: 16px;
}
.current-selection--option {
  display: inline-block;
  font-weight: 380;
}
.header__selection:hover .selection--option {
  display: block;
}
.selection--option::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -16px;
  height: 18px;
  z-index: 1;
}
.selection--option {
  position: absolute;
  text-align: left;
  top: 116%;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  z-index: 1;
  border-radius: 1.5px;
  display: none;
}
.selection--option .btn {
  padding: 12px 16px 12px 12px;
  color: var(--text-color);
  font-size: 1.5rem;
}
.selection--option > .btn:hover {
  background-color: #f5f3f3;
}

.option--icon-check {
  margin-left: 10px;
  color: red;
}
.header__search-icon {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
.header__search-icon > i {
  font-size: 1.8rem;
  padding: 8px 22px;
  background-color: var(--primary-color);
  margin-right: 3px;
  border-radius: 2px;
  color: var(--white-color);
}

.header__cart {
  margin: 10px 50px 0px 50px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.header__cart > i {
  font-size: 2.7rem;
  color: var(--white-color);
}
.header__cart:hover .header__cart-list {
  display: flex;
}
.header__cart-list {
  position: absolute;
  top: 100%;
  right: -5px;
  width: 400px;
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  transform-origin: calc(100% - 20px) top;
  animation: growth-full ease 0.3s;
  box-shadow: 0px 2px 10px #ccc;
  cursor: default;
  display: none;
  z-index: 1;
}
.header__cart-list::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -47px;
  right: -7px;
  z-index: 1;
}
.header__cart-list::after {
  content: "";
  position: absolute;
  width: 100%;
  top: -12px;
  height: 14px;
  z-index: 1;
}
/*  */
.header__cart-list--no-cart .cart-img,
.header__cart-list--no-cart .noti-cart {
  display: block;
}
.cart-img {
  width: 20%;
  margin-top: 40px;
  margin-bottom: 24px;
  display: none;
}
.noti-cart {
  margin-bottom: 70px;
  font-size: 1.5rem;
  font-weight: 380;
  cursor: text;
  display: none;
}
.header__quantity-product {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -2px;
  right: -12px;
  padding: 1px 10px;
  border-radius: 50px;
  border: 3px solid #ee4d2d;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  max-width: 35px;
}
.header__cart-product-list {
  margin: 0;
  list-style: none;
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;
  padding-left: 0;
}
.header__cart-title {
  margin: 18px 0 10px;
  padding-left: 12px;
  font-size: 1.4rem;
  color: #ccc;
  font-weight: 400;
}
.header__cart-item:hover {
  background-color: #f3f3f3;
}
.header__cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__cart-img {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  border: 3px solid #ccc;
}
.header__cart-item-info {
  font-size: 1.4rem;
  width: 100%;
  margin: 0 8px 0 12px;
}
.header__cart-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.header__cart-item-title {
  margin: 0;
}
.header__cart-item-wrap {
}
.header__cart-item-price {
  color: var(--primary-color);
}
.header__cart-item-multiple {
  margin: 0 4px;
}
.header__cart-item-quantity {
  color: #727272;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}
.header__cart-item-type {
  margin: 0;
  line-height: 22px;
  color: rgb(149, 149, 149);
}
.header__cart-item-remove:hover {
  opacity: 0.8;
  color: var(--black-color);
}
.header__cart-item-remove {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  padding: 5px 8px;
}
.header__cart-btn-view {
  margin: 16px 0 16px 256px;
}
.content {
  height: 1000px;
  background-color: var(--while-color);
}
.content__sort-bar {
  display: flex;
}
.content__sort-label {
}
.content__sort-price {
}
.sort-bar__wrap-position {
}
.sort-bar__position-page {
}
.sort-bar__total-page {
}
.sort-bar__control-left {
}
.sort-bar__control-right {
}
