/* header */
.header {
  height: 11.9rem;
  width: 100%;
  background-image: linear-gradient(0, #fe6332, #f53f2d);
}
/* start navigation */
.nav {
  font-size: 1.4rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
}
.nav-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.nav-item:hover,
.icon-nav:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.cursor-text:hover {
  color: var(--white-color);
  cursor: text;
}
.nav-item {
  display: inline-block;
  position: relative;
  padding-top: 8px;
}
.separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  border-left: 2px solid #fb9086;
  top: 68%;
  right: -12px;
  transform: translateY(-50%);
}
.separate--near::after {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  border-left: 2px solid #fb9086;
  top: 68%;
  right: -5px;
  transform: translateY(-50%);
}
.icon-nav {
  font-size: 1.5rem;
  margin: 0 4px;
}
/* QR code */
.nav-list > li:nth-child(3) {
  position: relative;
}
.QR-code {
  background-color: var(--white-color);
  position: absolute;
  width: 233%;
  height: 233px;
  border: 2px solid transparent;
  border-radius: 2px;
  top: 150%;
  display: none;
  animation: fade-in linear 0.5s;
}
.QR-code::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -16px;
  height: 10%;
}
.nav-list > li:nth-child(3):hover .QR-code {
  color: var(--white-color);
  cursor: default;
  display: block;
}
.QR-code--down {
  display: flex;
  justify-content: space-between;
}
.header-qr {
  width: 100%;
}
.QR-code--item {
  height: 16px;
}
.QR-code--down--1 {
  margin-left: 11px;
}
.QR-code--down--2 {
  margin-right: 11px;
}
/* end navigation */
/* notification */
.notification {
  position: relative;
}
.notification:hover .notification--header {
  display: block;
}
.notification--header:hover {
  color: var(--white-color);
}
.notification--header::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -15%;
  right: 0px;
}
.notification--header {
  position: absolute;
  width: 370px;
  height: 350px;
  right: 0;
  top: 140%;
  background-color: var(--white-color);
  border: 1px solid #adb5bd;
  border-radius: 2px;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: growth ease 0.4s;
  will-change: opacity, transform;
  display: none;
}
.notification--img {
  display: block;
  width: 25%;
  margin: 80px auto 20px auto;
}
.notification--info {
  text-align: center;
  color: var(--text-color);
  cursor: text;
  font-size: 1.4rem;
}

.notification--end {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  background-color: #e9ecef;
}
.log-in:hover,
.resgi:hover {
  background-color: #ced4da;
  cursor: pointer;
  color: #fe6332;
}
.log-in {
  display: inline-block;
  width: 49%;
  padding: 12px;
  color: var(--text-color);
}
.resgi {
  display: inline-block;
  width: 50%;
  padding: 12px;
  color: var(--text-color);
}
/* language  */

.language {
  position: relative;
}
.language--header::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 20px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--white-color);
  border-radius: 3px;
  position: absolute;
  top: -74%;
  right: 19px;
}
.language--header {
  position: absolute;
  width: 200px;
  right: 0;
  bottom: -79px;
  font-size: 1.5rem;
  background-color: var(--white-color);
  display: none;
  animation: fade-in linear 0.4s;
}
.language:hover .language--header {
  display: block;
}
.tiengviet,
.english {
  padding: 9px;
  color: var(--text-color);
}
/* end navigation */
/* start login and regis */
/* regis font */
.auth-container {
  border-radius: 2.5px;
  background-color: var(--white-color);
  overflow: hidden;
}
.auth-form {
  padding: 28px;
}
.auth-form__header {
  display: flex;
  justify-content: space-between;
  margin: 0px 6px 40px;
}
.auth-form__heading {
  font-size: 1.8rem;
  color: var(--black-color);
  cursor: default;
}
.auth-form__switch-btn {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
.auth-form__content {
}
.auth-form__group {
  margin-bottom: 10px;
}
.auth-form__input {
  width: 100%;
  font-size: 1.3rem;
  padding-left: 8px;
  line-height: 10px;
  line-height: 28px;
}
.auth-form__note {
  margin: 18px 8px;
}
.auth-form__note--content {
  text-align: center;
}
.auth-form__policy {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 440;
}
.auth-form__directional {
  display: flex;
  margin: 70px 6px 8px;
  justify-content: end;
  font-size: 1.3rem;
}
.btn--goback:hover {
  opacity: 0.8;
  background-color: #e9ecef;
}
.btn--regis:hover {
  opacity: 0.8;
}
.btn--goback {
  background-color: var(--white-color);
  cursor: pointer;
}
.btn--regis {
  color: var(--white-color);
  cursor: pointer;
}

.auth-form__footer {
  background-color: #dee2e6;
  align-items: center;
  width: 100%;
}
.auth-form__footer--contain {
  display: flex;
  margin: 0 14px;
  justify-content: space-between;
}
.auth-form__social {
  display: inline;
  margin: 16px 3px;
}
.button--icon:hover {
  opacity: 0.7;
}
.button--icon {
  min-width: 205px;
  border-radius: 3px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.button--icon > i {
  margin: 0 18px 0 12px;
}
.button--icon.first {
  background-color: #0674e7;
  color: var(--white-color);
  padding: 8px 0;
}
.button--icon.second {
  color: var(--text-color);
  background-color: var(--white-color);
  padding: 8px 0;
}
/* login form*/
.auth-form__support {
  font-weight: 420;
  margin: 22px 0 0 px;
}
.auth-form__support--link {
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0 10px;
}
/* end login and regis */
/* start search */

.content {
  height: 1000px;
  background-color: var(--text-color);
}
